<ul class="sidenav" id="slide-out">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="../../assets/images/bgprofile.webp" alt="Background User Account" />
            </div>
            <img class="circle" src="../../assets/images/indra.webp" alt="User Account" />
            <span class="white-text name">Indra Mahkota</span>
            <span class="white-text email">indramahkota1@gmail.com</span>
            <a href="#tim/favorit" id="button-offline" class="waves-effect waves-light btn">
                <i class="material-icons left">favorite</i>
                <span class="valign-wrapper">Tim Favorit Saya</span>
            </a>
        </div>
    </li>

    <li id="menu-pertandingan">
        <a class="waves-effect" href="#pertandingan"><i class="material-icons">event</i>Pertandingan</a>
    </li>
    <li id="menu-klasemen">
        <a class="waves-effect" href="#klasemen"><i class="material-icons">wrap_text</i>Klasemen</a>
    </li>
    <li id="menu-tim">
        <a class="waves-effect" href="#tim"><i class="material-icons">assistant_photo</i>Tim</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li id="menu-keluar">
        <a class="waves-effect" href="#keluar"><i class="material-icons">exit_to_app</i>Keluar</a>
    </li>
</ul>