<ul class="sidenav" id="slide-out">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="assets/images/bgprofile.webp" alt="Background User Account" />
            </div>
            <img class="circle" src="assets/images/indra.webp" alt="User Account" />
            <span class="white-text name">Indra Mahkota</span>
            <span class="white-text email">indramahkota1@gmail.com</span>
            <a id="button-offline" class="waves-effect waves-light btn">
                <i class="material-icons left">cloud</i>
                <span class="valign-wrapper">Penyimpanan Favorit</span>
            </a>
        </div>
    </li>
</ul>