.background > img {
  max-width: 100%;
}

.card-image > img {
  padding: 16px;
  width: 120px;
  height: 150px;
  object-fit: contain;
}

.card-content {
  min-height: 175px;
}

.cut-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}


.dropdown-content {
  background-color: #ffffff;
  margin: 0;
  display: none;
  min-width: 250px;
  max-height: auto;
  margin-left: -1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1000;
  will-change: width, height;
}

#pageContent {
  margin-top: 12px;
}

#button-offline {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}