<div id="keluar-modal" class="modal">
    <div class="modal-content">
        <h4>Keluar</h4>
        <p>Apakah Anda ingin keluar?</p>
    </div>
    <div class="modal-footer">
        <div class="modal-close waves-effect waves-green btn-flat">Ya</div>
    </div>
</div>

<div id="error-modal" class="modal">
    <div class="modal-content">
        <h4>Error</h4>
        <p>Too Many Requests API!</p>
        <p>Disarankan untuk memuat ulang halaman.</p>
    </div>
    <div class="modal-footer">
        <div class="modal-close waves-effect waves-green btn-flat">Ya</div>
    </div>
</div>