<div id="keluar-modal" class="modal">
    <div class="modal-content">
        <h4>Keluar</h4>
        <p>Apakah Anda ingin keluar?</p>
    </div>
    <div class="modal-footer">
        <div class="waves-effect waves-green btn-flat">Ya</div>
    </div>
</div>

<div id="error-modal" class="modal">
    <div class="modal-content">
        <h4>Peringatan</h4>
        <p id="error-modal-message"></p>
        <p id="error-modal-recommendation"></p>
    </div>
    <div class="modal-footer">
        <div class="modal-close waves-effect waves-green btn-flat">Ya</div>
    </div>
</div>