* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  font-weight: 400;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  display: flex;
  flex-direction: column;
  background: #ececec;
}

.header {
  width: 100%;
  height: 56px;
  color: #FFF;
  background: #3F51B5;
  display: flex;
  position: fixed;
  font-size: 20px;
  justify-content: space-between;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.header img {
  margin-top: 4px;
}

.header #butRefresh {
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.85;
  background: url(../images/refresh.svg) center center no-repeat;
}

.header #btnProfile {
  cursor: pointer;
  margin-right: 16px;
  margin-top: 16px;
}

.header__title {
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  margin-left: 16px;
}

.main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: auto;
}

.card {
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  margin: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.loader {
  left: 50%;
  top: 50%;
  z-index: 1006;
  position: fixed;
  transform: translate(-50%, -50%);
}
  
.loader #spinner {
  box-sizing: border-box;
  stroke: #673AB7;
  stroke-width: 3px;
  transform-origin: 50%;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(450deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}

.cssgridpanel {
  margin-bottom: 5px;
  display: grid;
  grid-gap : 5px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  color : white;
  text-align: center;
  line-height: 50px;
  grid-template-areas: 
  "box1 box1 box2"
  "box3 box4 box4"
  "box3 box5 box6"
}

.element1 {
  grid-area: box1;
  background : #4f5283;
}

.element2 {
  grid-area: box2;
  background : #4f5283;
}

.element3 {
  grid-area: box3;
  background : #4f5283;
}

.element4 {
  grid-area: box4;
  background : #4f5283;
}

.element5 {
  grid-area: box5;
  background : #4f5283;
}

.element6 {
  grid-area: box6;
  background : #4f5283;
}

#angka1, #angka2, #screen, #tomboltambah {
  margin: 5px;
}

#mapid {
  z-index: 2;
  min-height: 250px;
  min-width: 250px;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 1005;
  background:white;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0px;
}

#sidebar a {
  display: flex;
  align-items: center;
  padding-left: 5px;
  line-height: 50px;
  cursor: pointer;
}

#sidebar a:link, a:visited {
  color: #444;
}

.menusatu {
  border-bottom: 1px solid #ddd;
}

.menusatu a img {
  margin: 15px;
}

.menusatu .aktif {
  border-left: 2px solid red;
  background-color: rgba(255, 133, 50, 0.12);
}

.menudua a img {
  margin: 15px;
}

.sidebar-header {
  height: 145px;
  background-repeat: no-repeat;
  background-position: center center;
}

.sidebar-image .nama {
  position: absolute;
  top: 80px;
  left: 10px;
  color: white;
}

.sidebar-image .email {
  position: absolute;
  top: 100px;
  left: 10px;
  color: white;
}

.sidebar-header img {
  position: absolute;
  top: 20px;
  left: 10px;
}

#overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1004;
  opacity: 0;
}

#overlay.active {
  display: block;
  opacity: 1;
}

a:link {
  text-decoration: none;
}

.cssgridmap {
  display: grid;
  max-width: 400px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "box1 box2"
  "box1 box3"
}

.gridmap1 {
  grid-area: box1;
}

.gridmap2 {
  grid-area: box2;
  margin-left: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.gridmap3 {
  grid-area: box3;
  margin-left: 5px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#gambar {
  max-width: 100%;
  padding: 5px;
}

#respon {
  padding: 5px;
  margin: 0px;
}

/* @media(max-width: 700px){
  
} */

@media(max-width: 500px){
  .main {
    flex: 1;
    display: inline;
    padding-top: 60px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #mapid {
    z-index: 2;
    margin-bottom: 5px;
    min-height: 250px;
  }

  .cssgridmap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "box1 box1"
    "box2 box3"
  }
  
  .gridmap1 {
    grid-area: box1;
  }
  
  .gridmap2 {
    grid-area: box2;
    padding: 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  .gridmap3 {
    grid-area: box3;
    padding: 5px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  #gambar {
    max-width: 100%;
    padding-top: 5px;
  }
  
  #respon {
    padding-top: 5px;
    margin: 0px;
  }
}

@media(max-width: 300px){
  #mapid {
    z-index: 2;
    margin-bottom: 5px;
    min-width: 100%;
  }
}