.dropdown-content {
  background-color: #ffffff;
  margin: 0;
  display: none;
  min-width: 250px;
  max-height: auto;
  margin-left: -1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1000;
  will-change: width, height;
}