<div class="navbar-fixed">
    <nav role="navigation" class="cyan darken-1">
        <div class="nav-wrapper container">
            <a id="app-logo" href="#pertandingan" class="brand-logo truncate">Football App</a>
            
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <ul id="dropdown1" class="dropdown-content">
                <li>
                    <a href="#keluar"><i class="material-icons red-text">favorite</i>Favorit Saya</a>
                    <a href="#keluar"><i class="material-icons grey-text">exit_to_app</i>Keluar</a>
                </li>
            </ul>
            
            <ul class="topnav right hide-on-med-and-down">
                <li id="menu-pertandingan"><a href="#pertandingan">Pertandingan</a></li>
                <li id="menu-klasemen"><a href="#klasemen">Klasemen</a></li>
                <li id="menu-team"><a href="#team">Team</a></li>
                <li id="menu-profile">
                    <a class="dropdown-trigger" data-target="dropdown1">
                        <i class="valign-wrapper">
                            <img id="user-photo" class="circle" src="../../assets/images/indra.webp" width="32" height="32"
                                alt="User Photo" />
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>