<div class="navbar-fixed">
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="beranda-logo" href="#beranda" class="brand-logo truncate">Football App</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <ul id="dropdown1" class="dropdown-content">
                <li>
                    <a href="#keluar"><i class="material-icons">exit_to_app</i>Penyimpanan Favorit</a>
                    <a href="#keluar"><i class="material-icons">exit_to_app</i>Keluar</a>
                </li>
            </ul>

            <ul class="topnav right hide-on-med-and-down">
                <li id="pertandingan-menu"><a href="#pertandingan">Pertandingan</a></li>
                <li id="klasemen-menu"><a href="#klasemen">Klasemen</a></li>
                <li id="team-menu"><a href="#team">Team</a></li>
                <li id="profile-menu">
                    <div class="dropdown-trigger" data-target="dropdown1">
                        <i class="valign-wrapper">
                            <img class="circle" src="assets/images/indra.webp" width="32" height="32"
                                alt="User Account" />
                        </i>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>