<div class="navbar-fixed">
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="beranda-logo" href="#beranda" class="brand-logo truncate">Football App</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <ul id="dropdown1" class="dropdown-content">
                <li>
                    <a href="#keluar"><i class="material-icons">exit_to_app</i>Penyimpanan Favorit</a>
                    <a href="#keluar"><i class="material-icons">exit_to_app</i>Keluar</a>
                </li>
            </ul>

            <ul class="topnav right hide-on-med-and-down">
                <li id="beranda-menu"><a href="#beranda">Pertandingan</a></li>
                <li id="pengaturan-menu"><a href="#pengaturan">Klasemen</a></li>
                <li id="tentang-menu"><a href="#tentang">Team</a></li>
                <li id="profile-menu">
                    <a class="dropdown-trigger" data-target="dropdown1" href="#">
                        <i class="valign-wrapper"><img class="circle" src="assets/images/indra.webp" width="32"
                                height="32" alt="User Account"/></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>